<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>two column</title>
    <style>
      .container {
        height: 100vh;
        width: 100vw;
        background-color: aquamarine;
      }
      .aside {
        width: 200px;
        height: 500px;
        float: left;
        background-color: darkblue;
      }
      .main {
        height: 100vh;
        width: 100%;
        background-color: coral;
        margin-left: 200px;
      }
    </style>
  </head>
  <body>
    <!--使用float + margin left实现左右两列布局-->
    <div class="container">
      <div class="aside">1</div>
      <div class="main">2</div>
    </div>
  </body>
</html>
